<div class="container">
    <section class="event-section-1">
        <h2 class="section-title">Our current event</h2>
        <div class="split">
            <div class="image">
                <img src="assets\Our galleries\Our galleries\palastine-gal.jpg" alt="Strings in Harmony Concert" class="event-image">

            </div>
            
            <div class="current-event">
                    <h2 class="event-name">“Strings in Harmony”</h2>
                    <p class="event-description">
                        The master sculptor <b>“Mong Mong Sho”</b> shared his profound expertise and innovative techniques with an enthusiastic group of participants, offering unique insights drawn from his years of teaching and exhibiting across Asia and Europe. During this intensive workshop, attendees explored various sculpting methods, material manipulation, and conceptual development under Professor Sho's expert guidance.
                        The transformative experience culminated in a final showcase where participants displayed their sculptural pieces, each work reflecting the nuanced techniques and philosophical approaches learned during the intensive training. Professor Sho emphasized the importance of personal expression, material understanding, and the delicate balance between technical skill and creative intuition, inspiring his students to push beyond conventional artistic boundaries and discover their unique sculptural voices.
                    </p>
                    
                    
                    <ul class="event-description" >
                        <ol  ><b>Date:</b> December, 15th, 2024</ol>
                        <ol ><b>Timing:</b>  9 AM to 2 PM</ol>
                        <ol ><b>Location:</b> Giggle & Gallery</ol>
                    </ul>
            
        </div>
        </div>
        
    </section>
    <section class="event-section-2">
        <div class="current-event">
            
                <ul class="past-event-description">
                    <ol ><b>Maestro:</b> Hafedh Makni</ol>
                    <ol  ><b>Number of musicians:</b> 23</ol>
                    <ol ><b>Number of participants:</b> 260</ol>
                    <ol><b>Host:</b> Giggle & Gallery Logistics team</ol>
                    <ol><b>Moderator:</b> Salma Ennaki</ol>
                </ul>
                
                
                <h2 class="partner-name"> Partners</h2>
                <img src="assets\Our-partners\Our partners\Clubs\3.png" alt="Strings in Harmony Concert" class="partner-logo">
                <button class="event-button" routerLink ="/seller-auth-component" routerLinkActive="active" >Register to attend</button>   
                
                
            
            
        </div>
    </section>

    <button class="retour-button" routerLink ="/Galeries" routerLinkActive="active" >Back To Events</button>  
</div>

