<div class="container">
    <section class="gal-section">
        <h2 class="section-title">Our current gallery</h2>
        <div class="current-gal">
            <div class="gal-left">
                <img src="assets\Our galleries\Our galleries\current gallery.png" alt="Strings in Harmony Concert" class="gal-image">
                <h2 class="gal-name">"Dust from the wind"</h2>
                <p class="gal-description">
                    Zoom in on the details that escape you.
                    We invite you to discover exclusively the solo exhibition of artist Selim Ben Cheikh, "Dust in the Wind", at the Giggle & Gallery gallery.
                    An immersion in a universe where color breaks free from gesture to reveal elusive and meditative chromatic landscapes.
                    Come experience this unique and contemplative journey.
                </p>
            </div>
            <div class="gal-right">
                <button class="gal-button" routerLink ="/seller-auth-component" routerLinkActive="active" >Register to attend</button>
                <button class="gal-button" routerLink ="/seller-auth-component" routerLinkActive="active" >Attend Virtualy</button>
                <button class="gal-button" routerLink ="/current-gallery" routerLinkActive="active">View more details</button>
            </div>
        </div>
    </section>

    <section class="gal-section">
        <h2 class="section-title">Our past gallery</h2>
        
        <div class="gal-container">
            <div class="gal-card">
                <div class="gal-image">
                    <img src="assets\Our galleries\Our galleries\past gallery.png" alt="Workshop">
                </div>
                <div class="gal-content">
                    <h2 class="gal-title">“On this earth”</h2>
                    <p class="gal-description">
                        Deeply affected by the tragic events in Palestine, a country dear to our hearts, which has caused us immeasurable despair and sadness.
                        A feeling of helplessness. In the face of injustice, our artists have united their forces in a charitable exhibition aimed at supporting the people of Gaza.
                        Each exhibited work contributes to a noble cause, with all profits donated to the Tunisian Red Crescent for Palestine.
                        An artistic gesture of solidarity with ....
                    </p>
                    <a href="#" class="read-more" routerLink ="/past-gallery" routerLinkActive="active">View more</a>
                </div>
                
            </div>
            <button class="scroll-arrow"> > </button>
        </div>
        
    </section>
</div>

<!-- <footer>
    <div class="footer-area">
        <div class="social_icon">
            <a href="#"> <i class="fa-brands fa-facebook"></i> </a>
            <a href="#"> <i class="fa-brands fa-x-twitter"></i> </a>
            <a href="#"> <i class="fa-brands fa-instagram"></i> </a>
            <a href="#"> <i class="fa-brands fa-skype"></i> </a>
            
        </div>


        

        <div class="single-footer-widget">
            <h4>Contact us</h4>
            <div class="contact_info">
                <p><span> Address :</span> 255 Capitol Street Salem,OR 97310-0203. USA. </p>
                <p><span> Phone :</span> +2 71 372 (8060)</p>
                <p><span> Email : </span>info.com </p>
            </div>
        </div>


    </div>


    <div class="copyright_part_text">
        
                <p>

                    Copyright &copy; 2024 All rights reserved 

                </p>
    </div>


</footer> -->