<nav class="nav">
    <div class="container-fluid">
       
        <img src="assets/logo.png" alt="Logo" style="width:40px;" class="rounded-pill">
        
      </div>
    <!-- <div class="nav-search">
        <input type="text" placeholder="E">
        <button>Search</button>

    </div> -->
    <ul>
        <li><a routerLink ="/Home" routerLinkActive="active">Home</a></li>
        <li><a routerLink ="/Events" routerLinkActive="active">Events</a></li>
        <li><a routerLink ="/Galeries" routerLinkActive="active">Galeries</a></li>
        <li><a routerLink ="/Our-Partners" routerLinkActive="active">Our Partners</a></li>
        <li><a routerLink ="/seller-auth-component" routerLinkActive="active">Account</a></li>
        <li><a routerLink ="/Contact" routerLinkActive="active">Contact</a></li>
        <li><a routerLink ="/profile" routerLinkActive="active">Profile</a></li>
        
    </ul>
</nav>